{% extends "travel/base.html" %}
{% load static %}
{% block travel_heading %}Travelogue Profile{% endblock travel_heading %}
{% block travel_content %}
    {% if profile.is_public or profile.user == request.user %}
    <p>
        Travels logged by {{ profile.user.username }}.
        <a class="btn btn-xs btn-success" href="{% url 'travel-calendar' profile.user.username %}">
            Calendar</a>
    </p>
    <div class="profile-filter card card-sm">
        <div class="card-body">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Filter by</span>
                <select data-filter="type" id="id_filter" class="filter-ctrl form-control input-sm">
                    <option value="">-- All types --</option>
                    <option value="cn">Continents</option>
                    <option value="co">Countries</option>
                    <option value="st">States</option>
                    <option value="ap">Airports</option>
                    <option value="ct">Cities</option>
                    <option value="np">National Parks</option>
                    <option value="lm">Landmarks</option>
                    <option value="wh">World Heritage</option>
                </select>

                <span class="input-group-text">in</span>
                <select data-filter="co" id="id_co" class="filter-ctrl form-control input-sm">
                    <option value="">-- All countries --</option>
                </select>

                <span class="input-group-text">limited to</span>
                <select data-filter="limit" id="id_limit" class="filter-ctrl form-control input-sm">
                    <option value="">-- All entries --</option>
                    <option value="first">First visit</option>
                    <option value="recent">Recent visit</option>
                </select>

                <span class="input-group-text">and</span>
                <select data-filter="timeframe" id="id_timeframe" class="filter-ctrl form-control input-sm">
                    <option value="">-- All Dates --</option>
                    <option value="-">Before</option>
                    <option value="+">After</option>
                    <option value="=">For Year</option>
                </select>

                <input data-filter="date" id="id_date" style="display: none" class="form-control filter-ctrl input-sm" type="date">
                <select data-filter="year" id="id_year" style="display: none" class="filter-ctrl form-control input-sm"></select>
            </div>
            <p class="mb-0"><span id="id_count"></span></p>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <div class="me-1"><strong>Summary</strong></div>
                <div class="flex-grow-1" id="summary"></div>
            </div>
        </div>
    </div>
    <table id="history" class="table table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th></th>
                <th data-column="type" data-order="desc">Type <span class="order"></span></th>
                <th data-column="name" data-order="desc">Name <span class="order"></span></th>
                <th class="current" data-column="recent_visit" data-order="desc">Recent Visit <span class="order"></span></th>
                <th data-column="first_visit" data-order="desc">First Visit <span class="order"></span></th>
                <th data-column="num_visits" data-order="desc">Logs <span class="order"></span></th>
                <th data-column="rating" data-order="desc">Rating <span class="order"></span></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <template id="log-row">
        <tr data-id="" data-name="" data-arrival="" data-first="" data-count="" data-rating="" class="">
            <td><img class="log-image flag flag-md" src=""></td>
            <td class="log-category"></td>
            <td>
                <a class="log-name" href=""></a>
                <span class="log-country"></span>
                <span class="log-country-flag" class="flag flag-xs"></span>
                <span class="log-country-flag-emoji"></span>
            </td>
            <td class="when log-recent-visit"></td>
            <td class="when log-first-visit"></td>
            <td class="log-count"></td>
            <td class="log-rating"></td>
        </tr>
    </template>
    {% else %}
    <p>
        <strong>{{ profile.user.username }}</strong> has chosen not to share any travel information
    </p>
    {% endif %}
{% endblock travel_content %}
{% block travel_end_body %}
    {% if profile.is_public %}
    <script type="module">
        import { loadLogs } from "{% static 'travel/profile.js' %}";
        const url = '{% url "user_log_api" profile.user.username %}';
        const controller = loadLogs(url);
    </script>

    {% endif %}
{% endblock travel_end_body %}
