{% extends "travel/base.html" %}
{% load static %}
{% block extra_head %}
<style type="text/css" media="screen">
    #item { padding: 4px; margin-bottom: 1em; }
    #item:before, #item:after { content:""; display:block; }
    #item:after { clear:both; }

    #item-wrap.correct { background: #a5d7a4; }
    #item-wrap.incorrect { background: #d7a5a4; }
    #item > div {
        vertical-align: top;
        margin: 0 0 8px 0;
        height: 80px;
    }
    #item > div img {
        vertical-align: middle;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        max-height: 72px;
        cursor: pointer;
    }
    @media (min-width: 992px) {
        #item > div { max-height: 120px;  }
        #item > div img { max-height: 112px; }
    }
</style>
{% endblock extra_head %}
{% block travel_heading %}The Flag Game{% endblock travel_heading %}
{% block travel_content %}
    <div class="card">
        <h5 class="card-header bg-light">
            <span id="co-name"></span>
            <button id="next-button" class="btn btn-sm btn-warning float-end">Skip &raquo;</button>
        </h5>
        <div class="card-body" id="item-wrap">
            <div id="item" class="row">
                <div class="col">
                    <img class="img-fluid" alt="Flag 1" src="" data-code="">
                </div>
                <div class="col">
                    <img class="img-fluid" alt="Flag 2" src="" data-code="">
                </div>
                <div class="col">
                    <img class="img-fluid" alt="Flag 3" src="" data-code="">
                </div>
                <div class="col">
                    <img class="img-fluid" alt="Flag 4" src="" data-code="">
                </div>
            </div>
        </div>
        <div class="card-footer text-center bg-light">
            <strong style="verticle-align: middle">Your Score:</strong> <span class="badge rounded-pill bg-success" id="game-score">0 / 0</span>
        </div>
    </div>
{% endblock travel_content %}
{% block travel_end_body %}{{ block.super }}
<script type="module">
    import { playFlagGame } from "{% static 'travel/flag-game.js' %}";
    const url = '{% url "flag_game_api" %}';
    playFlagGame(url);
</script>
{% endblock travel_end_body %}
