{% extends "travel/entities/listing/base.html" %}
{% block travel_list_header %}
    <th>Code</th>
    <th>Name</th>
    <th>State</th>
    <th>County</th>
    <th></th>
{% endblock travel_list_header %}
{% block travel_listing %}
    {% for entity in entities %}
    <tr>
        <td>
            <a href="{{ entity.get_absolute_url }}">{{ entity.code }}</a>
        </td>
        <td>{{ entity.name }}{% if entity.name != entity.locality %}, {{ entity.locality }}{% endif %}</td>
        <td>{% if entity.state %}
            <img class="flag flag-sm" src="{{ entity.state.flag.thumb_url }}" />
            <a href="{{ entity.state.get_absolute_url }}">{{ entity.state }}</a>{% endif %}
        </td>
        <td>
            <img class="flag flag-sm" src="{{ entity.country.flag.thumb_url }}" />
            <a href="{{ entity.country.get_absolute_url }}">{{ entity.country }}</a>
        </td>
        <td>{% include "travel/_visited.html" with id=entity.id %}</td>
    </tr>
    {% endfor %}
{% endblock travel_listing %}


