{% extends "travel/entities/listing/base.html" %}
{% load travel_tags %}{% load humanize %}
{% block travel_list_header %}
    <th>Flag</th>
    <th>
        Name / Official Name
    </th>
    <th>Code</th>
    <th>Capital</th>
    <th>Continent</th>
    <th class="text-right">Population</th>
    <th class="text-right">Size</th>
    <th></th>
{% endblock travel_list_header %}
{% block travel_listing %}
    {% for entity in entities %}
    <tr>
        <td>{% if entity.flag and entity.flag.thumb_url %}
            <img class="flag flag-sm" src="{{ entity.flag.thumb_url }}" />
        {% endif %}</td>
        <td>
            <a href="{{ entity.get_absolute_url }}">{{ entity.name }}</a><br>
            <em>{{ entity.full_name }}</em>
        </td>
        <td>{{ entity.code }}</td>
        <td>
            {% if entity.capital %}
            <a href="{{ entity.capital.get_absolute_url }}">
                {{ entity.capital.name }}
            </a>
            {% endif %}
        </td>
        <td>
            {{ entity.continent }}
        </td>
        {% having entity.entityinfo as info %}
        <td class="text-right">{% if info.population %}{{ info.population|intcomma }}{% endif %}</td>
        <td class="text-right">
            {% if info.area %}
            {{ info.area|intcomma }} km<sup>2</sup><br>
            {{ info.square_miles|intcomma }} mi<sup>2</sup>
            {% endif %}
        </td>
        {% else %}
        <td></td>
        <td></td>
        {% endhaving %}
        <td>{% include "travel/_visited.html" with id=entity.id %}</td>
    </tr>
    {% endfor %}
{% endblock travel_listing %}


