{% extends "travel/entities/listing/base.html" %}
{% block travel_list_header %}
    <th></th>
    <th>Name</th>
    <th>State</th>
    <th>County</th>
    <th></th>
{% endblock travel_list_header %}
{% block travel_listing %}
    {% for entity in entities %}
    <tr>
        <td>{% if not entity.flag.is_locked %}<img src="{{ entity.flag.thumb.url }}">{% endif %}</td>
        <td><a href="{{ entity.get_absolute_url }}">{{ entity.name }}</a></td>
        <td>{{ entity.state.name }}</td>
        <td>{{ entity.country }}</td>
        <td>{% include "travel/_visited.html" with id=entity.id %}</td>
    </tr>
    {% endfor %}
{% endblock travel_listing %}

