{% extends "travel/entities/listing/base.html" %}
{% block travel_list_header %}
    <th>Name</th>
    <th>State</th>
    <th>County</th>
    <th></th>
{% endblock travel_list_header %}
{% block travel_listing %}
    {% for entity in entities %}
    <tr>
        <td>
            <a href="{{ entity.get_absolute_url }}">{{ entity.name }}</a>
        </td>
        <td>
            {% if entity.state %}<a href="{{ entity.state.get_absolute_url}}">
                <img class="flag" src="{{ entity.state.flag.thumb.url }}" />
                {{ entity.state.name }}
            </a>
            {% else %}Unknown
            {% endif %}
        </td>
        <td>
            <a href="{{ entity.country.get_absolute_url }}">
                <img src="{{ entity.country.flag.thumb.url }}" />
                {{ entity.country.name }}</a>
        </td>
        <td>{% include "travel/_visited.html" with id=entity.id %}</td>
    </tr>
    {% endfor %}
{% endblock travel_listing %}

