{% extends "travel/base.html" %}
{% load travel_tags static %}
{% block travel_heading %}
    {{ entity.name }}{% if user.is_superuser %} <a class="fs-6" href="{{ entity.get_edit_url }}">{% travel_icon "edit" %}</a>{% endif %}
    <small class="text-muted fs-5 fw-lighter">{{ entity.type.title }}</small>
{% endblock travel_heading %}
{% block travel_content %}
<div class="row">
    <div class="col-8">
        <dl class="row gx-3 entity-details">
            <dt>Official name</dt>
            <dd>
                {{ entity.full_name }} | {% with entity.extern as extern %}
                <a class="external" href="{{ extern.url }}">{{ extern.name }}</a>
                {% endwith %}
            </dd>

            {% if entity.capital %}
            <dt>Capital</dt>
            <dd>
                <a href="{{ entity.capital.get_absolute_url }}">{{ entity.capital.name }}</a> |
                {% include "travel/entities/detail/snippets/map.html" with entity=entity.capital %}
            </dd>
            {% endif %}

            {% if entity.country %}
            <dt>Country</dt>
            <dd>
                <a href="{{ entity.country.get_absolute_url }}">{{ entity.country }}</a> |
                {% include "travel/entities/detail/snippets/map.html" with entity=entity.country %}
            </dd>
            {% endif %}

            {% having entity.get_continent as continent %}
            <dt>Continent</dt>
            <dd>
                <a href="{{ continent.get_absolute_url }}">{{ continent }}</a>
            </dd>
            {% endhaving %}

            {% if entity.state %}
            <dt>State</dt>
            <dd>
                <a href="{{ entity.state.get_absolute_url }}">{{ entity.state }}</a>
            </dd>
            {% endif %}

            {% if entity.locality or entity.lat %}
            <dt>Location</dt>
            <dd>
                {% if entity.locality %}{{ entity.locality }}<br>{% endif %}
                {% include "travel/entities/detail/snippets/map.html" with label=entity.lat_lon_display entity=entity %}
            </dd>
            {% endif %}

            {% if entity.code %}
            <dt>Code</dt>
            <dd>{{ entity.code }}</dd>
            {% endif %}

            {% if entity.tzinfo %}
            {% load tz %}
            {% timezone entity.timezone %}
            <dt>Time Zone</dt>
            <dd>
                {{ entity.timezone }} ({% now "e, O" %})
            </dd>
            <dt>Current Time</dt>
            <dd>
                <span class="tz-clock" data-timezone="{{ entity.timezone }}"></span>
            </dd>
            {% endtimezone %}
            {% endif %}
            {% having entity.related_entities as related %}
            <dt>Related</dt>
            <dd id="related">{% block travel_related %}
                <ul class="related-content">{% for rel in entity.related_entities %}
                    <li>
                        <a href="{{ rel.url }}"><span>{{ rel.count }}</span> {{ rel.text }}</a>
                    </li>
                    {% endfor %}
                </ul>{% endblock travel_related %}
            </dd>
            {% endhaving %}
            {% block travel_extra_details %}{% endblock travel_extra_details %}
        </dl>
        {% if user.is_authenticated %}
        <div class="card my-3">
            <div class="card-header bg-light fs-5">Add a log entry</div>
            <div class="card-body">
                {% include "travel/log-entry-form.html" with entity=entity %}
            </div>
        </div>
        {% having history|length as count %}
        <div class="card my-3">
            <div class="card-header bg-light fs-5">Previous Log Entries <span class="badge bg-primary">{{ count }} entr{{ count|pluralize:"y,ies" }}</span></div>
            <table class="table table-striped my-0">
            <thead>
                <tr><th>Arrival</th><th>Rating</th><th>Edit?</th></tr>
            </thead>
            <tbody> {% for entry in history %}
                <tr>
                    <td data-timestamp="{{ entry.arrival.isoformat }}">{{ entry.arrival|date:"D, M j, Y" }} &mdash; {{ entry.arrival|date:"P" }} {{ entry.arrival.tzinfo.zone }}</td>
                    <td>{{ entry.get_rating_display }}</td>
                    <td>
                        <a title="Edit this log entry" href="{{ entry.get_absolute_url }}">
                            {% travel_icon "edit" %}</a>
                    </td>
                </tr>
                {% if entry.notes %}
                <tr>
                    <td colspan="4">
                        <blockquote>
                        {{ entry.notes.safe_html }}
                        </blockquote>
                    </td>
                </tr>{% endif %} {% endfor %}
            </tbody>
            </table>
        </div>
        {% endhaving %}
        {% endif %}

    </div>
    <div class="col-4 images">
    {% block travel_images %}
        {% if entity.flag %}<a class="travel-image" href="{{ entity.flag.image_url }}">
            <img class="flag flag-md" src="{{ entity.flag.image_url }}"></a>{% endif %}
    {% endblock travel_images %}
    </div>
</div>
{% endblock travel_content %}
{% block travel_end_body %}{{ block.super }}
<script type="module">
    import { updateTravelTimestamps } from "{% static 'travel/common.js' %}";
    import { makeEntityMap } from "{% static 'travel/maps.js' %}";

    makeEntityMap('.mapit');
    updateTravelTimestamps();
</script>
{% endblock travel_end_body %}
