{% extends "travel/entities/detail/base.html" %}
{% load static humanize travel_tags %}
{% block travel_images %}{{ block.super }}
    {% having entity.get_entityinfo as info %}
    {% for img in info.images %}
    <a href="{{ img.url }}"><img src="{{ img.url }}"></a>
    {% endfor %}
    {% endhaving %}
{% endblock travel_images %}
{% block travel_extra_details %}
    {% having entity.get_entityinfo as info %}
    <dt>Area</dt>
    <dd>{% if info.area %}{{ info.area|intcomma }} km<sup>2</sup>{% else %}<em>Unknown</em>{% endif %}</dd>
    <dt>Population</dt>
    <dd>{% if info.population %}{{ info.population|intcomma }}{% else %}<em>Unknown</em>{% endif %}</dd>
    <dt>Currency</dt>
    <dd>{% having info.currency as cur %}
        {{ cur.iso }} ({{ cur }}) &bull;
        {{ cur.sign }}1 = {{ cur.fraction }} {{ cur.fraction_name }}
        {% if cur.value %}<br>
            $1 = <span class="usd-1-value">{{ cur.value }}</span> ({{ cur.updated }})<br>
            {{ cur.sign }}<input type="number" class="usd-convert" placeholder="{{ cur }}">
            = $<span class="usd-converted"></span>
        {% endif %}{% else %}Unknown{% endhaving %}
    </dd>
    {% if info.denom %}
    <dt>Demonym</dt>
    <dd>{{ info.denom }} <i>(sing.)</i>; {{ info.denoms }} <i>(pl.)</i></dd>{% endif %}
    <dt>Language(s)</dt>
    <dd>{% for lang in info.languages.all %}
        <a href="{{ lang.get_absolute_url }}">{{ lang }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
        {% if info.language_codes %}| {{ info.language_codes }}{% endif %}
    </dd>
    <dt>Phone, TLD</dt>
    <dd>{{ info.phone }}, {{ info.tld }}</dd>
    {% having info.related_neighbors as neighbors %}
    <dt>Neighbors</dt>
    <dd>{% for neighbor in neighbors %}
        <a href="{{ neighbor.get_absolute_url }}">{{ neighbor }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</dd>
    {% endhaving %}
    {% if info.electrical %}
    <dt>Electrical</dt>
    <dd>{% static 'img/plugs/' as plug_pth %}{% with info.electrical_info as el %}
        {{ el.volts }}V, {{ el.hertz }}Hz, <a href="{% url 'travel:plugs' %}">Connector type(s)</a>: {{ el.plugs|join:", " }}
        <br>{% for p in el.plugs %}
        <a href="{{ plug_pth }}{{ p.0.lower }}.jpg"><img class="plug" src="{{ plug_pth }}{{ p.0.lower }}.jpg"></a>
        {% endfor %}
    {% endwith %}
    </dd>{% endif %}
    {% endhaving %}
{% endblock travel_extra_details %}
