{% extends "travel/base.html" %}
{% block travel_title %}{{ single_label}} Listing{% endblock travel_title %}
{% block travel_heading %}{{ type }} listing
    {% if parent %}for <a href="{{ parent.get_absolute_url }}">
        {{ parent }} {% if parent.flag %}<img class="flag flag-md" src="{{ parent.flag.thumb_url }}"> {% endif %}</a>
    {% endif %}
{% endblock travel_heading %}
{% block travel_content %}
    <p>
        {% block listing_totals %}
        <span class="counter-badge"><span>Total</span><span>{{ entities.count }}</span></span>
        {% endblock listing_totals %}
    </p>
    {% load pagination_tags %}
    {% autopaginate entities 100 %}
    {% paginate %}
    <table class="table table-hover table-striped table-sm entity-table">
        <thead>
            <tr>
            {% block travel_list_header %}{% endblock travel_list_header %}
            </tr>
        </thead>
        <tbody> 
            {% block travel_listing %}{% endblock travel_listing %}
        </tbody>
    </table>
    {% paginate %}
{% endblock travel_content %}




