{% extends "travel/entities/listing/base.html" %}
{% block travel_list_header %}
    <th>Flag</th>
    <th>Name</th>
    <th>Designation</th>
    <th>Capital</th>
    <th>County</th>
    <th></th>
{% endblock travel_list_header %}
{% block travel_listing %}
    {% for entity in entities %}
    <tr>
        <td>{% if entity.flag %}
            <img class="flag flag-sm" src="{{ entity.flag.thumb_url }}" />
        {% endif %}</td>
        <td>
            <a href="{{ entity.get_absolute_url }}">
                {% firstof entity.name entity.full_name %}</a>
        </td>
        <td>{{ entity.category_detail }}</td>
        <td>
            <a href="{{ entity.capital.get_absolute_url }}">
                {{ entity.capital.name }}</a>
        </td>
        <td>
            <a href="{{ entity.country.get_absolute_url }}">
                <img class="flag flag-sm" src="{{ entity.country.flag.thumb_url }}" />
                {{ entity.country.name }}</a>
        </td>
        <td>{% include "travel/_visited.html" with id=entity.id %}</td>
    </tr>
    {% endfor %}
{% endblock travel_listing %}
